.component-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.register-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.button-group {
  width: 100%;
  text-align: center;
}

.button-group button,
.button-group a {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
