<h2 mat-dialog-title>Add Task</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="taskForm" class="task-form">
  <mat-dialog-content class="task-form-content">
    <div class="form-field">
      <mat-form-field>
        <input formControlName="title" matInput placeholder="Title">
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <textarea formControlName="description" matInput placeholder="Description"></textarea>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input formControlName="start" matStartDate placeholder="Start date">
          <input formControlName="end" matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <input formControlName="project" matInput placeholder="Project">
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-label>Приоритет</mat-label>
      <mat-form-field>
        <mat-select formControlName="priority" placeholder="Priority">
          <mat-option value="Высокий">Высокий</mat-option>
          <mat-option value="Средний">Средний</mat-option>
          <mat-option value="Низкий">Низкий</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Выберите пользователей для совместной работы</mat-label>
        <mat-select formControlName="collaboration" multiple>
          <mat-option *ngFor="let user of allUsers" [value]="user.id">
            {{ user.username }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="task-form-actions">
    <button (click)="onCancel()" mat-button type="button">Cancel</button>
    <button mat-button type="submit">Add Task</button>
  </mat-dialog-actions>
</form>
